<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{{ path('home') }}">
        <i class="fas fa-paw fa-3x"></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-flex justify-content-around" id="navbarColor01">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-light" href="#">Performeurs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="#">Calendrier</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="#">Contact</a>
            </li>
        </ul>
    </div>
</nav>

{% for label,messages in app.flashes %}
    <div class="container">
        <div class="alert alert-{{ label }} mt-3">
            {%  for message in messages %}
                <p> {{ message }}</p>
            {%  endfor %}
        </div>
    </div>
{% endfor %}